*.md filter=lfs diff=lfs merge=lfs -text
*.gitmodules filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.gradle filter=lfs diff=lfs merge=lfs -text
*.pro filter=lfs diff=lfs merge=lfs -text
*.java filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.properties filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
/projects/Android/gradlew filter=lfs diff=lfs merge=lfs -text
*.bat filter=lfs diff=lfs merge=lfs -text
*.md !text !filter !merge !diff
*.txt !text !filter !merge !diff
LICENSE !text !filter !merge !diff
.gitignore !text !filter !merge !diff
.gitmodules !text !filter !merge !diff
*.c !text !filter !merge !diff
*.cpp !text !filter !merge !diff
*.h !text !filter !merge !diff
*.cs !text !filter !merge !diff
*.cginc !text !filter !merge !diff
*.shader !text !filter !merge !diff
*.asmdef !text !filter !merge !diff
*.java !text !filter !merge !diff
*.gradle !text !filter !merge !diff
*.pro !text !filter !merge !diff
*.bat !text !filter !merge !diff
*.json !text !filter !merge !diff
*.xml !text !filter !merge !diff
*.yaml !text !filter !merge !diff
*.properties !text !filter !merge !diff
*.asset !text !filter !merge !diff
*.prefab !text !filter !merge !diff
*.meta !text !filter !merge !diff
*.mat !text !filter !merge !diff
*.unity !text !filter !merge !diff
*.lighting !text !filter !merge !diff
